workflows/LinkedinProfileScrapper.json
{
  "name": "LinkedinProfileScrapper",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        112
      ],
      "id": "9c5305bb-bd1c-4bdb-b9e5-973f9f97a4ed",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        784,
        224
      ],
      "id": "5124c6bb-afff-453d-8aa9-4046be60c4e8",
      "name": "Wait",
      "webhookId": "9c54bc41-8f55-4502-8ece-b470c0ea6755"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-o6sq0T_ty7l5nBoCjdrl5la42u5chnDE-XkGG1zUFE",
          "mode": "list",
          "cachedResultName": "linkedinscrapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-o6sq0T_ty7l5nBoCjdrl5la42u5chnDE-XkGG1zUFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ov7mhHlyWY_tYNdMN3j3FoblWqR8SRZTFIwiI5N6kXI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Linkedin URL": "={{ $json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Linkedin URL",
              "displayName": "Linkedin URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        432
      ],
      "id": "cd787b1f-8a84-4688-8341-4df173624922",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ixlQeqkv6etZGRXt",
          "name": "599"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        112
      ],
      "id": "e7026bf0-02ae-473a-abb2-485b1cbffaff",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "///////////////////////////////\nlet start = 1; // Initial page\n\nconst limit = 100; // Total number of profiles to search\nconst batchSize = 10; // Google Search returns 100 results per page\nconst output = [];\n\nwhile (start < limit) {\n  output.push({ json: { start: start } });\n  start += batchSize; // Increment by 100 for each page\n}\n\nreturn output;\n///////////////////////////////"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        112
      ],
      "id": "afb5bd23-28d2-4bee-9e25-44cda5fc56a5",
      "name": "Page"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .flatMap(item => item.json.items)\n  .map(result => ({\n    title: result.title ? result.title : \"\",\n    link: result.link ? result.link : \"\",\n  }))\n  .filter((obj, index, self) =>\n    index === self.findIndex((o) => o.link === obj.link)\n  );"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        432
      ],
      "id": "52b1f997-ca2d-4fd6-81f1-b7bcc87c1a73",
      "name": "filterResult"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        560
      ],
      "id": "8d77b05d-2262-43da-a73e-6558a94936af",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        672
      ],
      "id": "22c4ed9a-ffa9-4249-9a13-fff91e16593f",
      "name": "Wait1",
      "webhookId": "9c54bc41-8f55-4502-8ece-b470c0ea6755"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        432
      ],
      "id": "aa03954a-c2bc-4a95-a725-06d797e666b1",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/customsearch/v1?key=YOUR_GOOGLE_API_KEY&cx=YOUR_CUSTOM_SEARCH_ENGINE_ID",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=lead generation agency SAN FRANCISCO"
            },
            {
              "name": "start",
              "value": "={{ $('Page').item.json.start }}"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        224
      ],
      "id": "684d3119-a0b0-4ca1-bef3-1769462bbff6",
      "name": "getLinkedinProfile"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/customsearch/v1?key=YOUR_GOOGLE_API_KEY&cx=YOUR_CUSTOM_SEARCH_ENGINE_ID",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=lead generation agency NEW YORK"
            },
            {
              "name": "start",
              "value": "={{ $('Page').item.json.start }}"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        672
      ],
      "id": "837189ab-82fe-4c64-8bf6-61aa7dec626f",
      "name": "getLinkedinProfile2"
    },
    {
      "parameters": {
        "content": "## Scrape 100 linkedin profiles from a google search",
        "height": 420,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "id": "1a3087fe-5b2a-4eb2-8061-db325e09a6a1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scrape 100 linkedin profiles from a second google search\nNote: Google api is limited to the first 100 results for a specific search",
        "height": 440,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        448
      ],
      "id": "7a0b99ac-8dde-4985-a2b7-92a197d96e75",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Paginate through the first 100 results",
        "height": 280,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b341bbc3-947f-44a8-9045-276f808037f8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Filter to retrieve only the title and url for each results",
        "height": 300,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        288
      ],
      "id": "6264bb22-4b02-464b-84dd-dd2f9f478e34",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Merge data for both search \nNote: you can add more than just 200 profiles",
        "height": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        288
      ],
      "id": "deac1907-2482-4aaa-a233-1502f23cbac2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Write all 200 profiles inside a sheet\nNote: You can send it to CRM or something else instead",
        "height": 300,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        288
      ],
      "id": "43f4b8c6-01bb-46ce-b784-504060489d6e",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getLinkedinProfile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filterResult": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "getLinkedinProfile2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "filterResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getLinkedinProfile": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getLinkedinProfile2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "115b6e07-e812-4401-8fd0-4a66cffa3f0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eef64364cc745a778f6405399bf50f9a08706228bcd2692a1db0fa764b608f15"
  },
  "id": "KTVZLla2h52wKpQQ",
  "tags": []
}